.title{
  color : #000;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  float: left;
  margin-top: 0.8%;
  text-transform: capitalize;
  letter-spacing: normal;
}

#canvas{
  border: 1px solid #a6a6a6;
  background-color: white;
  width: 100%;
  /* border-radius: 10px;     */
}

.container {
  width: 70%;
  margin: auto;
}


.button-col{
  display: inline-block;
  margin: auto 10px 0 10px;
}

.button-col button{
  margin-top: 8px;
  box-shadow: none;
  display: block;
}

.input-element {
  border: 1px solid black;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: start;
  height: 30px;
  width: 100%;
}

.button-row{
  /* width: 1178px; */
  margin: 0px 82px ;
  margin-bottom: 10px;
  contain: content;
}

.button-row-left{
  float: left;
}

.button-row-right{
  float: right;
}

.button-row-left button{
  margin-right: 8px;
}

.button-row-right button{
  margin-left: 8px;
}

.user-container {
  background-color: #f6f6f6;
  height: calc(100vh - 75px);
}

.mat-flat-button.mat-accent {
  color: rgb(0, 119, 123);
  border: 1px solid rgb(0, 119, 123);
  border-radius: 0px;
  background-color: transparent;
}

.mat-flat-button {
  font-weight: unset !important;

}

.mat-flat-button:hover {
  background-color: rgb(230, 241, 242);
}

.mat-fab:hover{
  background-color: darkred;
}


.mat-mini-fab:hover{
  opacity: 0.6;
}

.mat-h2{
  text-align: center;
  margin: 10px auto;
  color: salmon;
}

::ng-deep .canvas-container {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep .upper-canvas {
  width: 100% !important;
  height: 100% !important;

  position: relative !important;
}

::ng-deep .lower-canvas {
  width: 100% !important;
  height: 100% !important;

}

.chocolate{
  background-color: chocolate;
}

.olive{
  background-color: #446600;
}

.orange{
  background-color: orange;
}

.CornflowerBlue{
  background-color: #1858cd;
}

.aqua{
  background-color: aqua;
}
.BlueViolet{
  background-color: #6918b4;
}
.salmon{
  background-color: salmon;
}

.orange{
  background-color: darkorange;
}

.white{
  background-color: whitesmoke;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.lime{
  background-color: lime;
}

.magenta{
  background-color: magenta;
}

.mat-h2{
  text-align: center;
  margin: 20px auto;
  color: salmon;
}

.admin-container {
  background-color: #f6f6f6;
  height: calc(100vh - 75px);
}
