<div *ngIf="!isLoggedIn">
    <mat-grid-list cols="2" [rowHeight]="inH">
        <mat-grid-tile colspan="1" rowspan="1" >
            <img class="image_illus" src="../../assets/illustration.png" width="500" height="400">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" >
            <div *ngIf="!currentUser" class="loginForm">
                    <h2 mat-dialog-title>Admin Login :</h2>
                    <mat-form-field>
                        <mat-label>Username :</mat-label>
                        <input matInput [(ngModel)]="userName" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Password:</mat-label>
                        <input matInput [(ngModel)]="password" type="password" required>
                    </mat-form-field>
                    <br>
                    <button class="signInBtn" mat-button [disabled]="checkIfFieldIsEmpty()" (click)="signIn()">Sign In</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>