mat-toolbar{
    background-color: #000000;
    color:white;
}

.title{
    margin-left:5px;
    cursor:pointer;
    background-color: transparent;
}

.route-container {
    background-color: #f6f6f6;
}

.spacer{
    flex: 1 1 auto;
}

.userIdLabel{
    font-size: 14px;
    padding:10px;
    color:white;
}


.logoutBtn:hover{
    background-color: rgb(67, 160, 253);
}