.image_illus{
    width:100%;
    height:auto;
    max-width: 500px;
    float: left;
    margin-top:10%;
    margin-left: 12%;
}

.options{
    clear:right;
    float:right;
    margin-right:20%;
}

.icon{
  padding:10px;  
}

.card{
    width: 400px;
    text-align: left;
    border: 1px solid rgb(0, 119, 123);
    border-radius: 0px;
    color: rgb(0, 119, 123);
    /* background-color: rgba(154, 205, 255,0.5); */
    font-size: 18px;
}

.card:hover{
    background-color: rgb(230, 241, 242);
    /* color:white; */
}

.mat-button-focus-overlay {
    background-color:transparent;
}

.mat-button-wrapper {
    font-family: sans-serif;
}
